{% extends "layout.html" %}

{% block title%}Ingredientes{% endblock %}

{% block content %}
<section class="container d-flex flex-column align-items-center justify-content-center">
    <!-- Login -->
    <div id="login" class="col-lg-4 col-12">
        {% if session.loggedin %}
        <h4>You are logged in as {{ session['email'] }}</h4>
        {% endif %}
        {% if not session.loggedin %}
        <form action="/pythonlogin" method="POST">
            <h3>Welcome! Please, login</h3>
            <!--Username-->
            <div class="col-4">
                <label for="username">Username:</label>
            </div>
            <div class="col-8">
                <input class="w-100" type="text" name="username" placeholder="account123" required autofocus>
            </div>
            <!--Password-->
            <div class="col-4">
                <label for="password">Password:</label>
            </div>
            <div class="col-8">
                <input class="w-100" type="password" name="password" placeholder="****" required>
            </div>

            <button class="btn btn-primary" type="submit">Login</button>
            <h4><i id="msg">{{ msg }}</i></h4>
        </form>
        {% endif %}
    </div>
</section>
{% endblock %}