{% extends "layout.html" %}

{% block title%}Comidas{% endblock %}

{% block content %}
<section class="container d-flex flex-column align-items-center justify-content-center">
    <span class="add-button d-flex border-0 text-success align-items-center" id="add-button" data-bs-toggle="modal" data-bs-target="#modal_add">Agregar Comida<iconify-icon icon="icon-park-solid:add" width="40" height="40"></iconify-icon></span>
    <div class="table-responsive" style="width: 100%;">
        <table class="table table-bordered">
            <thead>
                <tr class="sticky-top bg-light">
                    {% for column in columns %}
                    <th>{{ column }}</th>
                    {% endfor %}
                    <th>Acciones</th>
                </tr>
            </thead>
            <tbody>
                {% for result in results %}
                <tr>
                    {% for i in indices %}
                    <td>{{ result[i] }}</td>
                    {% endfor %}
                    <td class="d-flex flex-column flex-sm-row align-items-center justify-content-center">
                        <span class="edit-button d-flex align-items-center border-0 text-warning" id="edit-button{{ result[0] }}" data-bs-toggle="modal" data-bs-target="#modal{{ result[0] }}"><iconify-icon icon="ic:round-edit" width="20" height="20"></iconify-icon></span>
                        <a href="{{ url_for('delete_meal', id=result[0]) }}" class="delete-button d-flex align-items-center border-0 text-danger"><iconify-icon icon="ic:baseline-delete" width="20" height="20"></iconify-icon></a>
                    </td>
                </tr>

                <!-- Modal -->
                <div class="modal fade" id="modal{{ result[0] }}" tabindex="-1">
                    <div class="modal-dialog modal-dialog-centered modal-lg">
                        <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title">Editar Comida</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            <form method="post" action="/meals/edit/{{ result[0] }}" enctype="multipart/form-data">
                                <div class="row row-cols-2">
                                    <!--Meal Name-->
                                    <div class="col-4 text-end">
                                        <label for="meal_name">Nombre de la Comida:</label>
                                    </div>
                                    <div class="col-8">
                                        <input class="w-100" type="text" name="meal_name" value="{{ result[1] }}" required>
                                    </div>
                                    <!--Meal Price-->
                                    <div class="col-4 text-end">
                                        <label for="price">Precio:</label>
                                    </div>
                                    <div class="col-8">
                                        <input class="w-100" type="text" name="price" value="{{ result[2] }}" required>
                                    </div>
                                    <!--Meal Description-->
                                    <div class="col-4 text-end">
                                        <label for="description">Descripción:</label>
                                    </div>
                                    <div class="col-8">
                                        <textarea class="w-100" type="text" name="description" value="{{ result[3] }}" required>{{ result[3] }}</textarea>
                                    </div>
                                    <!--Meal Image-->
                                    <div class="col-4 text-end">
                                        <label for="image">Imagen:</label>
                                    </div>
                                    <div class="col-8">
                                        <input class="w-100" type="file" name="image" value="">
                                    </div>
                                </div>
                        </div>
                                <div class="modal-footer">
                                    <button type="reset" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                                    <button type="submit" class="btn btn-primary">Actualizar</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </tbody>
        </table>
    </div>

    <!-- Modal -->
    <div class="modal fade" id="modal_add" tabindex="-1">
        <div class="modal-dialog modal-dialog-centered modal-lg">
            <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Agregar Comida</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form method="post" action="/meals/add" enctype="multipart/form-data">
                    <!--Add Meal FORM-->
                    <div class="row row-cols-2">
                        <!--Meal Name-->
                        <div class="col-4 text-end">
                            <label for="meal_name">Nombre de la Comida:</label>
                        </div>
                        <div class="col-8">
                            <input class="w-100" type="text" name="meal_name" value="" required>
                        </div>

                        <!--Meal Price-->
                        <div class="col-4 text-end">
                            <label for="price">Precio:</label>
                        </div>
                        <div class="col-8">
                            <input class="w-100" type="text" name="price" value="" required>
                        </div>

                        <!--Meal Description-->
                        <div class="col-4 text-end">
                            <label for="description">Descripción:</label>
                        </div>
                        <div class="col-8">
                            <textarea class="w-100" type="text" name="description" value="" required></textarea>
                        </div>

                        <!--Meal Image-->
                        <div class="col-4 text-end">
                            <label for="image">Imagen:</label>
                        </div>
                        <div class="col-8">
                            <input class="w-100" type="file" name="image" value="" required>
                        </div>

                    </div>
            </div>
                    <div class="modal-footer">
                        <button type="reset" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                        <button type="submit" class="btn btn-primary">Agregar</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>
{% endblock %}