<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Identity_Company</title>
</head>
<body>
    <form action="/identity_company" method="POST">
        <select name="identity_company_id" id="identity_company_id">
            {% for identity_company in identity_companies %}
                <option value="{{identity_company[0]}}">{{identity_company[0]}}</option>
            {% endfor %}
        </select>
        <select name="format" id="format">
            <option value="json">JSON</option>
            <option value="xml">XML</option>
        </select>
        <button type="submit">Mostrar</button>
    </form>
</body>
</html>