<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Long Stop</title>
</head>
<body>
    <form action="/long_stop" method="POST">
        <select name="long_stop_id" id="long_stop_id">
            {% for long_stop in long_stops %}
            <option value="{{long_stop[1]}}">{{long_stop[0]}}</option>
            {% endfor %}
        </select>
        <select name="format" id="format">
            <option value="json">JSON</option>
            <option value="xml">XML</option>
        </select>
        <button type="submit">Mostrar</button>
    </form>
</body>
</html>