<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Meals Ingredients</title>
</head>
<body>
    <form action="/meal_ingredients" method="POST">
        <select name="meal_ingredients_id" id="meal_ingredients_id">
            {% for meal_ingredient in meal_ingredients %}
            <option value="{{meal_ingredient[0]}}">{{meal_ingredient[0]}}</option>
            {% endfor %}
        </select>
        <select name="format" id="format">
            <option value="json">JSON</option>
            <option value="xml">XML</option>
        </select>
        <button type="submit">Mostrar</button>
    </form>
</body>
</html>