<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sampling</title>
</head>
<body>
    <form action="/sampling" method="POST">
        <select name="sampling_id" id="sampling_id">
            {% for sampling in samplings %}
            <option value="{{sampling[0]}}">{{sampling[0]}}</option>
            {% endfor %}
        </select>
        <select name="format" id="format">
            <option value="json">JSON</option>
            <option value="xml">XML</option>
        </select>
        <button type="submit">Mostrar</button>
    </form>
</body>
</html>