<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Muestras</title>
</head>
<body>
    <form action="/sample" method="POST">
        <select name="sample_id" id="sample_id">
            {% for sample in samples %}
            <option value="{{sample[1]}}">{{sample[0]}}</option>
            {% endfor %}
        </select>
        <select name="format" id="format">
            <option value="json">JSON</option>
            <option value="xml">XML</option>
        </select>
        <button type="submit">Mostrar</button>
    </form>
</body>
</html>