<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Uploaded_File</title>
</head>
<body>
    <form action="/uploaded_file" method="POST">
        <select name="uploaded_file_id" id="uploaded_file_id">
            {% for uploaded_file in uploaded_files %}
                <option value="{{uploaded_file[0]}}">{{uploaded_file[0]}}</option>
            {% endfor %}
        </select>
        <select name="format" id="format">
            <option value="json">JSON</option>
            <option value="xml">XML</option>
        </select>
        <button type="submit">Mostrar</button>
    </form>
</body>
</html>