<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Users</title>
</head>
<body>
    <form action="/users" method="POST">
        <select name="users_id" id="users_id">
            {% for user in users %}
            <option value="{{user[1]}}">{{user[0]}}</option>
            {% endfor %}
        </select>
        <select name="format" id="format">
            <option value="json">JSON</option>
            <option value="xml">XML</option>
        </select>
        <button type="submit">Mostrar</button>
    </form>
</body>
</html>